<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Demoing chunked file uploads">
    <meta name="author" content="Leon du Toit">

    <title>File upload demo</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<input id="fileupload" type="file" name="file" multiple>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQuery-File-Upload-9.17.0/js/vendor/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQuery-File-Upload-9.17.0/js/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQuery-File-Upload-9.17.0/js/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQuery-File-Upload-9.17.0/js/jquery.fileupload.js') }}"></script>

<script type="text/javascript">
// 10mb chunks
$(function () {
    $('#fileupload').fileupload({
        url: "/upload",
        dataType: 'json',
        type: 'POST',
        sequentialUploads: true,
        maxChunkSize: 10485760,
        done: function (e, data) {
            console.log(data);
        }
    });
});
</script>

</body>

</html>