
# API
port: 3003
debug: False
server_delay: 0
num_chunks: 50
max_body_size: 5368709120 # 5 GB


# JWT
jwt_secret: ''

# folders
uploads_folder: '/opt/file-api-uploads'

# Testing
data_folder: '/opt/tsd-file-api-env/lib/python2.7/site-packages/tsdfileapi/data'
